.Estilo3 {
	font-size: 16px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}
.Estilo2 {
	font-size: 16px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #60768C;
	font-weight: bold;
}
.Estilo1 {
        font-size: 36px;
}
